$color__primary: #41ace8;
$color__dark: #212121;
$color__light: #ffffff;

$color__success: #48c354;
$color__warning: #ffa928;
$color__error: #ed5271;

$color__overlay--dark-primary: #004080;
// TODO уточнить у дизайнеров, очень странный цвет
$color__overlay--dark-secondary: #142e47;

$color__overlay--light-primary: $color__light;
$color__overlay--light-secondary: $color__light;
