$opacity__step-1: 0.24;
$opacity__step-2: 0.36;
$opacity__step-3: 0.48;
$opacity__step-4: 0.56;
$opacity__step-5: 0.64;
$opacity__step-6: 0.72;
$opacity__step-7: 0.80;
$opacity__step-8: 0.88;
$opacity__step-9: 0.92;
$opacity__step-10: 0.96;
